body{
  background-image: url(images/bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-position: center;
}
/*.well{
  color: gray;
}*/

.underline {
  text-decoration: underline;
}

a{
  color: red;
}

a:hover{
  color: pink;
  text-decoration: none;
}

.image-resize {
  width: 100%;
  height: auto;
}

.drop-down {
  width: 150px;
  height: 75px;
}

.well-adjustment {
  background-color: #996633;
  border: 3px black;
}

.title {
  text-align:center;
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  font-family: 'Open Sans', sans-serif;
}

.pt {
  font-family: 'PT Sans Caption', sans-serif;
}

.underline {
  text-decoration: underline;
}

.btn-purple {
  color: #ffffff;
  background-color: #611BBD;
  border-color: #130269;
}

.btn-purple:hover,
.btn-purple:focus,
.btn-purple:active,
.btn-purple.active,
.open .dropdown-toggle.btn-purple {
  color: #ffffff;
  background-color: #49247A;
  border-color: #130269;
}

.btn-purple:active,
.btn-purple.active,
.open .dropdown-toggle.btn-purple {
  background-image: none;
}

.btn-purple.disabled,
.btn-purple[disabled],
fieldset[disabled] .btn-purple,
.btn-purple.disabled:hover,
.btn-purple[disabled]:hover,
fieldset[disabled] .btn-purple:hover,
.btn-purple.disabled:focus,
.btn-purple[disabled]:focus,
fieldset[disabled] .btn-purple:focus,
.btn-purple.disabled:active,
.btn-purple[disabled]:active,
fieldset[disabled] .btn-purple:active,
.btn-purple.disabled.active,
.btn-purple[disabled].active,
fieldset[disabled] .btn-purple.active {
  background-color: #611BBD;
  border-color: #130269;
}

.btn-purple .badge {
  color: #611BBD;
  background-color: #ffffff;
}
