<h1>$animal.getName()</h1>
<h4>$animal.getType()</h4>

#foreach ($sighting in $animal.getSightings())
    <a href="/sighting/$sighting.getId()">$sighting.getLocation() <br> $sighting.getTimeSighted()</a>
    <h5>$sighting.getRanger()</h5>
#end
