<h1 class="title">Wildlife Tracker -=Alpha=</h1>
<br>

<h2 class="underline">Animals</h2>
#foreach ($animal in $animals)
  <a href="/animals/$animal.getId()"><h2>$animal.getName()</h2></a>
#end
<a href="animals/edit">Edit the Animals</a>
<br>
<br>
<a href="animal/new">Add Animals</a>
<br>
<br>
<img class="image-resize" src="images/tiger-cub.jpg" alt="image of animal" />
<br>
<br>
<br>
