<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to the WildSide</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href="/app.css">
  </head>
  <body>
    <div class="container">
      <div class="well well-adjustment">
        <a class="btn btn-success btn-lg" href="/">WildLife Tracker</a>
        <a class="btn btn-lg btn-purple" href="/animals">See All Animals</a>
        <a class="btn btn-primary btn-lg" href="/sighting/new">Add New Sighting</a>
        <a class="btn btn-success btn-lg" href="/sightings">View All Sightings</a>

      </div>
      <div class="well">
      #parse( $template )
      </div>
    </div>
  </body>
</html>
