<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to the WildSide</title>
    <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans:700|Raleway|Roboto|Source+Sans+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Caption:700" rel="stylesheet">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href="/app.css">
  </head>
  <body>
    <div class="container">
      <div class="well well-adjustment">
        <a class="btn btn-success btn-lg" href="/">WildLife Tracker</a>
      </div>
      <div class="well">
      #parse( $template )
      </div>
    </div>
  </body>
</html>
