#foreach ($sighting in $sightings)
<h3>Location: $sighting.getLocation()</h3>
<h3>Time: $sighting.getTimeSighted()</h3>
<h3>Ranger: $sighting.getRanger()</h3>
<h3>Animal: $animal.getName() </h3>
<br>
<br>
#end
